.noUiSliderBass,
	.noUiSliderBass * ,.noUiSliderTreble,
	.noUiSliderTreble *,.noUiSliderSub,
	.noUiSliderSub *{
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		display: block;
		cursor: default;
	}
	.noUiSliderBass, .noUiSliderTreble, .noUiSliderSub  {
		position: absolute;
	}
	.noUiSliderBass a,.noUiSliderTreble a,.noUiSliderSub a {
		position: absolute;
		z-index: 1;
	}
	.noUiSliderBass a:nth-child(2), .noUiSliderTreble a:nth-child(2), .noUiSliderSub a:nth-child(2) {
		background: inherit !important;
	}
	.noUiSliderBass.vertical a, .noUiSliderTreble.vertical a, .noUiSliderSub.vertical a {
		width: 100%;
		bottom: 0;
	}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSliderBass:before, .noUiSliderTreble:before, .noUiSliderSub:before,
	body.TOUCH,
	.noUiSliderBass div, .noUiSliderTreble div, .noUiSliderSub div {
		-ms-touch-action: none;
	}
	.noUiSliderBass:before, .noUiSliderTreble:before, .noUiSliderSub:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noUiSliderBass.vertical:before, .noUiSliderTreble.vertical:before, .noUiSliderSub.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
	.noUiSliderBass, .noUiSliderTreble, .noUiSliderSub {
		/*border: 1px solid #908d84;*/
		border-radius: 3px;
	}
	.noUiSliderBass.connect a, .noUiSliderTreble.connect a, .noUiSliderSub.connect a,
	.noUiSliderBass.connect.lower, .noUiSliderTreble.connect.lower, .noUiSliderSub.connect.lower {
		background:url("/images/temp_bar_on_left_52_407.svg") no-repeat left bottom;
		background-size:100%;	
		/*background: #b2a98f;*/	
	}
	.noUiSliderBass,
	.noUiSliderBass.connect.lower a {
		
		/*background: #d9d7cb;*/
		/*box-shadow: inset 0px 1px 7px #b6b4a8;*/
	}
	.noUiSliderBass.disabled,
	.noUiSliderBass.disabled.connect.lower a {
		background: #ccc;
		box-shadow: none;
	}
	.noUiSliderBass div, .noUiSliderTreble div, .noUiSliderSub div, .noUiSliderVolume div {
		height: 100px;

		border-radius: 3px;
		background: #efefe7;
		background:url("/images/drag_knob.svg") no-repeat left center;
		background-size:26%;
		width: 180%;
	}
	.noUiSliderBass.disabled div {
		background: transparent;
	}
	.noUiSliderBass.vertical, .noUiSliderTreble.vertical, .noUiSliderSub.vertical {
		width: 7.22222222222222%;/*52/720*/
		height: 40.7%;/*407/1000*/
	}
	.noUiSliderBass.vertical div, .noUiSliderTreble.vertical div, .noUiSliderSub.vertical div {
		margin: -93% 0 0 -26%;
	}
	.noUiSliderBass{
		left: 5.7%;
   		top: 48.1%;
	}
	.noUiSliderTreble{
		left: 21.55%;
   		top: 48.1%;
	}
	.noUiSliderSub{
		left: 36.9%;
   		top: 48.1%;
	}
	.noUiSliderVolume{
		top:96.75%;
		left:16%;
		width:68.5%;
		height:7.5%;
		
	}
	
	.noUiSliderVolume div{
		height:100%;
		width:100px;
	}
		
	/********LEFT*******/		
		
	.noUiSliderLeft,
	.noUiSliderLeft * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		display: block;
		cursor: default;
	}
	.noUiSliderLeft {
		position: relative;
	}
	.noUiSliderLeft a {
		position: absolute;
		z-index: 1;
	}
	.noUiSliderLeft a:nth-child(2) {
		background: inherit !important;
	}
	.noUiSliderLeft.vertical a {
		width: 100%;
		bottom: 0;
	}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSliderLeft:before,
	body.TOUCH,
	.noUiSliderLeft div {
		-ms-touch-action: none;
	}
	.noUiSliderLeft:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noUiSliderLeft.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
	.noUiSliderLeft {
		/*border: 1px solid #908d84;*/
		border-radius: 3px;
	}
	.noUiSliderLeft.connect a,
	.noUiSliderLeft.connect.lower {
		
background: url("../images/temp_bar_on_left.svg") no-repeat 1px 5px;
background-size: 68%;	
	}
	.noUiSliderLeft.disabled,
	.noUiSliderLeft.disabled.connect.lower a {
		background: #ccc;
		box-shadow: none;
	}
	.noUiSliderLeft div {
		height: 100px;

		border-radius: 3px;
		background: #efefe7;
		background:url("../images/drag_knob.svg") no-repeat center center;
		background-size:15%;
		
	}
	.noUiSliderLeft.disabled div {
		background: transparent;
	}
	.noUiSliderLeft.vertical {
		width: 11%;
		height: 37.6%;
	}
	.noUiSliderLeft.vertical div {
		margin: -50px -60px 0 -5px;
	}
	.noUiSliderLeft{
		left:3%;
		top:18%;
		height:40%;
	}





		
		
	/*********RIGHT*******/
	
	.noUiSliderRight,
	.noUiSliderRight * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		display: block;
		cursor: default;
	}
	.noUiSliderRight {
		position: relative;
	}
	.noUiSliderRight a {
		position: absolute;
		z-index: 1;
	}
	.noUiSliderRight a:nth-child(2) {
		background: inherit !important;
	}
	.noUiSliderRight.vertical a {
		width: 100%;
		bottom: 0;
	}
	.noUiSliderRight.horizontal a {
		height: 100%;
		right: 0;
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSliderRight:before,
	body.TOUCH,
	.noUiSliderRight div {
		-ms-touch-action: none;
	}
	.noUiSliderRight:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noUiSliderRight.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
	.noUiSliderRight {
		/*border: 1px solid #908d84;*/
		border-radius: 3px;
	}
	.noUiSliderRight.connect a,
	.noUiSliderRight.connect.lower {
		/*background: #b2a98f;*/
		background:url("../images/temp_bar_on_right.svg") no-repeat right bottom;
	}
	
	#audioSettings .noUiSliderRight.connect a{
		background:url("/images/temp_bar_on_right.svg") no-repeat right bottom;
		background-size:85.9%;
	}
	
	.noUiSliderRight,
	.noUiSliderRight.connect.lower a {
		
		/*background: #d9d7cb;*/
		/*box-shadow: inset 0px 1px 7px #b6b4a8;*/
	}
	.noUiSliderRight.disabled,
	.noUiSliderRight.disabled.connect.lower a {
		background: #ccc;
		box-shadow: none;
	}
	.noUiSliderRight div {
		height: 100px;
		border-radius: 3px;
		background: #efefe7;
		background:url("/images/drag_knob.svg") no-repeat left center;
		background-size:26%;						
	}
	.noUiSliderRight.disabled div {
		background: transparent;
	}
	.noUiSliderRight.vertical {
		width: 11%;
		height: 37.6%;
	}
	.noUiSliderRight.vertical div {
		margin: -50px -5px 0 0;
	}
	.noUiSliderRight{
		position:absolute;
		left:86.25%;
		top:18%;
		height:40%;
	}
	
/*********FAN*******/
	
	.noUiSliderFan,
	.noUiSliderFan * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		display: block;
		cursor: default;
	}
	.noUiSliderFan {
		position: relative;
	}
	.noUiSliderFan a {
		position: absolute;
		z-index: 1;
	}
	.noUiSliderFan a:nth-child(2) {
		background: inherit !important;
	}
	.noUiSliderFan.vertical a {
		width: 100%;
		bottom: 0;
	}
	.noUiSliderFan.horizontal a {
		height: 100%;
		right: 0;
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSliderFan:before,
	body.TOUCH,
	.noUiSliderFan div {
		-ms-touch-action: none;
	}
	.noUiSliderFan:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noUiSliderFan.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
	.noUiSliderFan {
		/*border: 1px solid #908d84;*/
		border-radius: 3px;
	}
	.noUiSliderFan.connect a,
	.noUiSliderFan.connect.lower {
		/*background: #b2a98f;*/
		/*background:url("/images/temp_bar_on_right.svg") no-repeat right bottom;	*/
		background-size:85.9%;
	}
	.noUiSliderFan,
	.noUiSliderFan.connect.lower a {
		
		/*background: #d9d7cb;*/
		/*box-shadow: inset 0px 1px 7px #b6b4a8;*/
	}
	.noUiSliderFan.disabled,
	.noUiSliderFan.disabled.connect.lower a {
		background: #ccc;
		box-shadow: none;
	}
	.noUiSliderFan div {
		width:80px;
		height: 100%;
		border-radius: 3px;
		background: #efefe7;
		background:url("/images/drag_knob.svg") no-repeat center bottom;
		background-size:26%;						
	}
	.noUiSliderFan.disabled div {
		background: transparent;
	}
	.noUiSliderFan.horizontal {
		width: 42.5%;
		height: 10.75%;
	}
	.noUiSliderFan.horizontal div {
		margin: 0 0 0 -40px;
	}
	
	.noUiSliderFan{
		position:absolute;
		left:33%;
		top:55%;
		/*top:63.2%;*/
		height:12%;
	}
