[project]
	description = HVAC application provides the user with an interface to control parameters such as vehicle temperature and etc.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group pdxostc-management
	owner = group user/aeichepdx
[access "refs/for/refs/*"]
	read = group user/aeichepdx
	push = group user/aeichepdx
	label-Code-Review = -2..+2 group user/aeichepdx
	label-Verified = -1..+1 group user/aeichepdx
	removeReviewer = group user/aeichepdx
	submit = group user/aeichepdx
[access "refs/heads/*"]
	read = group user/aeichepdx
	create = group user/aeichepdx
	push = group user/aeichepdx
	pushMerge = group user/aeichepdx
[access "refs/tags/*"]
	push = group user/aeichepdx
	pushTag = group user/aeichepdx
	pushSignedTag = group user/aeichepdx
