[project]
	description = HVAC application provides the user with an interface to control parameters such as vehicle temperature and etc.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jeastwo1
[access "refs/for/refs/*"]
	read = group user/jeastwo1
	push = group user/jeastwo1
	label-Code-Review = -2..+2 group user/jeastwo1
	label-Verified = -1..+1 group user/jeastwo1
	rebase = group user/jeastwo1
	removeReviewer = group user/jeastwo1
	submit = group user/jeastwo1
[access "refs/heads/*"]
	read = group user/jeastwo1
	create = group user/jeastwo1
	push = +force group user/jeastwo1
	pushMerge = group user/jeastwo1
[access "refs/tags/*"]
	push = +force group user/jeastwo1
	pushTag = group user/jeastwo1
	pushSignedTag = group user/jeastwo1
